* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "neue montreal", sans-serif;
  background-color: #f1f1f1;
  padding: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
